* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  /* background-color: #0a69ed; */
  background: #7F00FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.start-screen,
.score-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
#start-button,
#restart {
  font-size: 1.3em;
  padding: 0.5em 1.8em;
  border-radius: 0.2em;
}
#restart {
  margin-top: 0.9em;
}

#start-button:hover, #restart:hover{
  background: #7F00FF; 
  background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);
  background: linear-gradient(to right, #E100FF, #7F00FF);
  color: white;
  box-shadow: 0px 0px 25px #ccc;
}


#display-container {
  background-color: #470147e5;
  padding: 2.1em 0.5em;
  width: 90%;
  max-width: 37.5em;
  margin: 0 auto;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.6em;
}

#display-container h2{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px solid red;
  padding: 10px;
  margin-top: -30px;
  text-decoration: floralwhite;
  font-size: 18px;
}
@media(max-width: 320px){
  #display-container h2{
    font-size: 16px;
    align-items: center;

  }
}



.header {
  margin-bottom: 1.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.6em;
  color: white;
  border-bottom: 0.1em solid #c0bfd2;
}
.timer-div {
  /* background-color: #e1f5fe; */
  width: 4.5em;
  background-color: rebeccapurple;
  color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4em;
  gap: 7px;
  
}
#timer_icon{
color: wheat;
font-size: 100px;
}



.question {
  margin-bottom: 1.25em;
  /* font-weight: 1000; */
  letter-spacing: 1px;
  word-spacing: 2px;
  color: rgb(255, 4, 4);
  font-size: 20px;
  color: aqua;
  font-family: sans-serif;
}
.option-div {
  font-size: 0.9em;
  width: 100%;
  padding: 1em;
  margin: 0.3em 0;
  text-align: left;
  outline: none;
  background: transparent;
  border: 1px solid white;
  border-radius: 0.3em;
  color: white;
  font-size: 15px;

}
/* .option-div:hover{
background-color: rgba(98, 96, 96, 0.374)
} */


.option-div:disabled {
  color: white;
  cursor: not-allowed;
}
#next-button {
  font-size: 18px;
  margin-top: 0.5em;
  background-color: #0a69ed;
  color: #ffffff;
  background: #7F00FF; 
  background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);
  background: linear-gradient(to right, #E100FF, #7F00FF);
  padding: 0.7em 1.8em;
  border-radius: none;
  float: right;
}

#next-button:hover{
  border-radius: 15px;
  transition: 0.5s;
    }

.hide {
  display: none;
}
.incorrect {
  background-color: #cb075297;
  color: #f43333;
  border-color: red;    
}
.correct {
  background-color: green;
  color: #689f38;
  border-color: rgb(54, 250, 54);;
  border-width: 5px;
}
#user-score {
  font-size: 1.5em;
  color: #ffffff;
}
#quiz_submitted{
  font-size: 20px;
  color: white; 
  border: px solid white;
  background: linear-gradient(to right, rgb(61, 1, 57)50%, #240246);
  padding: 10px;
  margin-bottom: 50px;
  border-radius: 25px;
}
#checked_icon{
  color: rgb(54, 250, 54);
  border: px solid green;
  font-size: 100px;
  margin-bottom: 40px;
  animation: scaleout 1s ease forwards;

}
section.start-animation #checked_icon{
  animation: scaleout 1s ease forwards;
}

@keyframes scaleout{
  0%{
     scale: 0;
  }
  100%{
   scale: 1;
  }
}