@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF);
    /* overflow: hidden; */
}

#body::-webkit-scrollbar{
    width: 5px;
}
#body::-webkit-scrollbar-track{
    background-color: inherit;
}
#body::-webkit-scrollbar-thumb{
    background-color: purple;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

.accordion_container {
    max-width: 800px;
    margin: 30px auto;
    padding: 0 15px;
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF);
    /* overflow: hidden; */
    border: px solid red;
    box-shadow: 0px 0px 50px #ccc;
    border-radius: 10px;
    
}
#heading{
    font-size: 25px;
    color: white;
    font-weight: 800;
    text-align: center;
    border: 0px solid black;
    margin: 10px auto;
    border-bottom: 2px dotted white;
}

.accordion-item {
    margin-bottom: 10px;
}

.accordion-header {
    background: linear-gradient(to right, #0f0012, #7F00FF);    border-radius: 0px;
      /* Chrome 10-25, Safari 5.1-6 */

    color: white;
    cursor: pointer;
    padding: 4px;
    text-align: left;
    border: none;
    outline: none;
    width: 100%;
    font-family: sans-serif;
    font-size: 25px;
    transition: 0.1s;
}

.accordion-header:hover {
    background-color: #4b4a4a;
}

.accordion-content {
    display: none;
    padding: 10px;
    background-color: rgb(255, 255, 254);
    border: 1px solid #ddd;
    border-top: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.accordion-content p {
    margin: 0;
    font-size: 20px;
}

@media (max-width: 600px) {
    .accordion-header {
        font-size: 14px;
        padding: 12px;
    }
    
    .accordion-content {
        padding: 12px;
    }
}

@media(max-width:375px){
    .accordion-header{
        font-size: 20px;
        padding: 5px;
    }
    .accordion-content p {
        font-size: 19px;
    }
    .accordion_container{
        margin-left: 12px;
        margin-right: 12px;
        box-shadow: 0px 0px 20px #ccc;
        
    }
}
@media(max-width:425px){
    .accordion-header{
        font-size: 20px;
        padding: 5px;

    }
    .accordion-content p {
        font-size: 19px;
    }
    
}



@media(max-width:375px){
    .accordion-header{
        font-size: 20px;
        padding: 5px;

    }
    .accordion-content p {
        font-size: 19px;
    }
    
}
